body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
}


.title{
    text-align: center;
}

#newUser {
    text-align: center; 
    display: grid;
    columns: 1fr;
    gap: 20px;
    max-width: 400px;
    margin: 40px auto;  
}

#login, #register {
    text-align: center;
}

#error {
    color: red;
}