body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

th {
    border: 2px solid;
    background-color: lightblue;
    padding: 3px;
}

td{
    border: 2px solid;
}

